<div class="hero-overlay">
  <h1 class="cta text__blue">
Wir wollen das noch mehr passiert. Der Datensummit ist Startschuss und Rückblick zugleich. Wir schauen auf die großartigen Projekte, die die Community in 24 deutschlandweiten Ok Labs bereits realisiert hat, werfen einen Blick in andere Länder und planen gemeinsam mit ... wo es in Zukunft hingehen soll. Das kann ein zivilgesellschaftlicher Beirat auf allen Gesetzebenen sein oder ein Open-Data-Ansprechpanther im BMVI sein. Kommt und gestaltet mit. Los. Los.  
  </h1>


  <h3 class="cta text__white">
*mit Datenenthusiasten und Hackerinnen und Datenvisgurus und Journalisten und Mitarbeiterinnen aus Kommunen, Ländern und dem Bund. Daten auch.
  </h3>


</div>