---
layout: default
footerlogos: yes
title: "Agenda – Day 1"
lang: en

---

<div class="hero-container fond__blue">
	<div class="hero-pattern hero-pattern__drl">
		<div class="hero-pattern-wrap hero-day1">
			{% include home-hero-day1.html %}
		</div>
	</div>
</div>

<div class="jumbotron fond__white">
	<div class="container text-center">
		<div class="col-lg-10 col-lg-offset-1">
			<p class="introtext"> 28.04.2017<br> Friday at BMVI</p>
			<p>We are excited to receive you at the Federal Ministry of Transport and Digital Infrastructure on the first day.</p>
			<div>
				<div></div>
				<div class="jumbotron fond__white">
					<div class="container">
						{% include programm-table-day1.html lang="en" %}
					</div>
				</div>
				<div class="container">
					<p>
						At the end of the first day we want to use the opportunity that so many smart minds with experience in open data are gathered at in one place and ask you to think of ideas on how to increase Open Data in Germany. These ideas can be further discussed on the second day. <br> <br>
						<a href="/en/tag_zwei"><span class="highlight-red">Program for the second day</span></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>