---
layout: default
footerlogos: yes
title: "Agenda – Tag 1"

---

<div class="hero-container fond__blue">
	<div class="hero-pattern hero-pattern__drl">
		<div class="hero-pattern-wrap hero-day1">
			{% include home-hero-day1.html %}
		</div>
	</div>
</div>

<div class="jumbotron fond__white">
	<div class="container text-center">
		<div class="col-lg-10 col-lg-offset-1">
			<p class="introtext"> 28.04.2017<br> Freitag im BMVI</p>
			<p>Wir freuen uns am ersten Tag im Bundesministerium für Verkehr und Digitale Infrastruktur nationale und internationale Rednerinnen, Freunde und alte Bekannte begrüßen zu dürfen.<br><br>

            <b>Und hier nochmal die Adresse</b><br>
            Invalidenstraße 44, D-10115 Berlin, Ubahn: Naturkundemuseum<br>
            </p> 
			<div>
				<div></div>
				<div class="jumbotron fond__white">
					<div class="container">
						{% include programm-table-day1.html lang="de" %}
					</div>
				</div>
				<div class="container">
					<p>
						Am Ende des 1. Tages wollen wir die Gelegenheit nutzen, dass so viele Köpfe, die seit Jahren Open Data in Deutschland nach vorne bringen und zukünftig nach vorne bringen wollen an einem Ort versammelt sind. Lasst uns gemeinsam erste Pläne für den 2. Tag schmieden. <br> <br>
						<a href="/tag_zwei"><span class="highlight-red">Zum Programm Tag 2</span></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
